<body style="background-color: #424242">
  <div>
    <!--  BARRA DE MENU -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!--  MENU OPÇÕES-->
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav  #sidenav fxLayout="column"   opened="false" fxHide.gt-sm="false" class="menu">
        <div fxLayout="column">
          <div>
            <a mat-button routerLink="/home">Home</a>
          </div>

          <div>
            <a  mat-button [matMenuTriggerFor]="clientes">Clientes
              <mat-menu #clientes="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="opcoes">Clientes</button>
              </mat-menu>
              <mat-menu #opcoes="matMenu">
                <button mat-menu-item  routerLink="/cliente">Listar Cliente</button>
                <button mat-menu-item  routerLink="/cadastrarCliente">Cadastrar Cliente</button>
              </mat-menu>
            </a>
          </div>

          <div>
            <a  mat-button [matMenuTriggerFor]="veiculos">Veiculos
              <mat-menu #veiculos="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="opcoes1">Veiculos</button>
              </mat-menu>
              <mat-menu #opcoes1="matMenu">
                <button mat-menu-item  routerLink="/veiculo">Listar Veiculos</button>
                <button mat-menu-item  routerLink="/cadastrarVeiculo">Cadastrar Veiculos</button>
              </mat-menu>
            </a>
          </div>

          <div>
            <a  mat-button [matMenuTriggerFor]="contratos">Contratos
              <mat-menu #contratos="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="opcoes3">Contratos</button>
              </mat-menu>
              <mat-menu #opcoes3="matMenu">
                <button mat-menu-item  routerLink="/contrato">Listar Contratos</button>
                <button mat-menu-item  routerLink="/cadastrarContrato">Cadastrar Contratar</button>
              </mat-menu>
            </a>
          </div>
        </div>
      </mat-sidenav>


      <div id="mat-drawer-container" >
        <mat-card class="example-card" >
          <!--    fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center"-->
          <h2 class="texto_azul titulo-login">Contrato</h2>

          <!--Inicio do Form>-->
          <mat-card-content >
            <form class="example-form">

              <!----- INSERIR MEDICO ---->
              <mat-form-field class="example-full-width" appearance="fill" style="padding-top: 30px">
                <mat-label class="texto_azul">Cliente</mat-label>
                <mat-select [(ngModel)]="contrato.cliente_id" [ngModelOptions]="{standalone: true}">
                  <mat-option selected *ngFor="let name of cliente" [value]="name.id">{{name.nome }}</mat-option>
                  <!--              <option autocomplete="on" name="especialidade" type="text"[(ngModel)]="medico.especialidade" matInput placeholder="Digite sua especialidade" value="">-->
                </mat-select>
              </mat-form-field>

              <!----- INSERIR PACIENTE ---->
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="texto_azul">Veiculo</mat-label>
                <mat-select [(ngModel)]="contrato.veiculo_id" [ngModelOptions]="{standalone: true}">
                  <mat-option class="fontcolor" selected *ngFor="let name of veiculo" [value]="name.id">{{name.modelo}}</mat-option>
                  <!--              <option autocomplete="on" name="especialidade" type="text"[(ngModel)]="medico.especialidade" matInput placeholder="Digite sua especialidade" value="">-->
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="texto_label">Data Inicial</mat-label>
                <input  autocomplete="on"  name="Data da Consulta" type="date"  [(ngModel)]="contrato.dataInicio" matInput  placeholder="Digite a data de inicio"value="">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="texto_label">Data Final</mat-label>
                <input  autocomplete="on"  name="Data da Consulta" type="date"  [(ngModel)]="contrato.dataFim" matInput  placeholder="Digite a data Final"value="">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class="texto_azul">Valor</mat-label>
                <input autocomplete="on" name="valor" [(ngModel)]="contrato.valor" matInput placeholder="digite o valor">
              </mat-form-field>
            </form>

          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button mat-icon-button color="blue" id="but" (click)="salvar()">
              <mat-icon >save</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      </mat-sidenav-container>
    </div>
</body>
